/* General CSS */
* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    --accentcolor: rgb(208, 19, 114);
    --primary: rgb(1, 77, 112);
    --secondary: rgba(88, 201, 177, 0.864);
    --textcolor: rgb(28, 28, 28);
    --tablebkg: rgba(22, 83, 100, 0.541);
    --pagebkg: rgb(255, 255, 255);
    --imgborder: rgb(231, 143, 27);
}

a {
    color: var(--accentcolor);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

h1 {
    top: 0;    
    color: var(--textcolor);
}


/* Code Section CSS */
.code {
    color: var(--accentcolor);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}

/* Projects Section CSS */
table {
    background-color: var(--tablebkg);
    padding: 20px;
    margin: 40px;
    width: 50%;
    float: left;
    border-radius: 50px;
    z-index: -1;
    position: relative;
    overflow: hidden;
} 
th, td{
    padding: 15px;
}
table,th, td{
    border-collapse: collapse;
}


/* Footer CSS */
footer {
    color: var(--textcolor);
    height: 60px;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    display: block;
    background-color: var(--primary);
    position: fixed;
    margin-top: 30px;
    z-index: 0;

}

/* Div CSS */
div {
    transition: box-shadow 0.3s ease;
    margin-left: 30px;
}

/* div:hover {
    box-shadow: 0px 0px 10px 5px rgb(231, 143, 27);
} */


/* Body CSS */
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--bgcolor);
    color: rgb(160, 157, 157);
    background-color: var(--pagebkg);
    margin-right: 180px;
    /* background: linear-gradient(360deg, #1cc7d0, #2ede98); */
    /* margin-left: 30px; */
}

/* List CSS */
ul {
    list-style: none;
}

/* H2 CSS */
h2 {
    font-size: 5rem;
    position: relative;
    text-transform: uppercase;
    transition: all 300ms ease;
    width: fit-content;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

h2:hover {
    transform: skew(10deg);
}

h2::before {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: -20px;
    background: var(--bgcolor);
    height: 50%;
    overflow: hidden;
    transition: all 300ms ease;
    padding-left: 20px;
}

h2:hover::before {
    top: -4px;
    left: 0px;    
    color: var(--secondary);
}

h2::after {
    content: "";
    height: 4px;
    width: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%);
    background: var(--accentcolor);
    transition: all 300ms ease;
    border-radius: 200px;
}

h2:hover::after {
    width: 120%;
    outline: 1px solid rgb(60, 60, 77);
}

/* Social Links CSS */
._social-links {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    padding: 1em 0.5em 1em 1em;
    background: var(--primary);
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: -4px 0px 0px var(--accentcolor);
    transition: all 300ms ease;
    z-index: 0;
}

._social-links:hover {
    box-shadow: -8px 0px 20px var(--accentcolor);
    padding: 1em;
}

._links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

._social-link a {
    color: var(--textcolor);
    font-size: 1.5rem;
    transition: all 200ms ease;
}

._social-link a:visited {
    color: var(--textcolor);
}

._social-link a:hover {
    color: var(--accentcolor);
    font-size: 1.75rem;
}

/* Hamburger Menu CSS */
:root {
    --bgcolor: black;
}

.wrapper{
    position: fixed;
    top: 0;
    right: -100%; 
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    z-index: 1;
    transition: all 0.6s ease-in-out;
}

#active:checked ~ .wrapper{
    right:0;
}

.menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    background:var(--primary);
    transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before{
    transform: translateY(-8px);
}

.menu-btn:after{
    transform: translateY(8px);
}

.close {
    z-index: 2;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

#active:checked + .menu-btn span {
    transform: scaleX(0);
}

#active:checked + .menu-btn:before {
    transform: rotate(45deg);
}

#active:checked + .menu-btn:after {
    transform: rotate(-45deg);
}

.wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li{
    height: 10%;
    margin: 15px 0;
}

.wrapper ul li a{
    text-decoration: none;
    font-size: 5rem;
    font-weight: 500;
    padding: 5px 30px;
    color: #ffffff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: 0;
    transition: transform 0.3s ease;
}

input[type="checkbox"]{
    display: none;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    text-align: center;
    width: 100%;
    color: #202020;
}

.content .title{
    font-size: 40px;
    font-weight: 700;
}

.content p{
    font-size: 35px;
    font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
    opacity: 1;
}

.wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}

#active:checked ~ .wrapper ul li a{
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); 
    transition-delay: .6s;
    transform: translateX(-100px);
}



/* Profile Pic CSS */

img {
    --s: 180px; /* image size */
    --b: 5px; /* border thickness */
    --c: var(--imgborder); /* border color */
    --f: 1; /* initial scale */
  
    --_g: 50% / calc(100% / var(--f)) 100% no-repeat content-box;
    --_o: calc((1 / var(--f) - 1) * var(--s) / 2 - var(--b));
  
    width: var(--s);
    aspect-ratio: 1;
    padding-top: calc(var(--s)/5);
    cursor: pointer;
    border-radius: 0 0 999px 999px;
    outline: var(--b) solid var(--c);
    outline-offset: var(--_o);
    background: 
      radial-gradient(
        circle closest-side,
        #50bcc000 calc(99% - var(--b)),
        var(--c) calc(100% - var(--b)) 99%,
        #0000) var(--_g);
    mask:
      linear-gradient(#000 0 0) no-repeat
      50% calc(-1 * var(--_o)) / calc(100% / var(--f) - 2 * var(--b)) 50%,
      radial-gradient(
        circle closest-side,
        #000 99%,
        #0000) var(--_g);
    transform: scale(var(--f));
    transition: .5s;

    /* Added properties */
    position: absolute;
    top: 0;
    left: 56px;
}

img:hover {
    --f: 1.35; /* hover scale */
}

  
  
  /* body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #E0E4CC;
  } */


  /*contact page CSS*/

  /* .card {
    width: 70%;
    padding: 30px 90px 90px 90px;
    border: 6px solid rgba(0, 0, 0, 0.3);
    box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    position: relative;
  }
  
  .card h3 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 60px;
    text-transform: uppercase;
  }
  
  .card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
  }
  
  .card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
  }
  
  .card .row .form-group input,
  .card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 50px;
  }
  
  .card .row .form-group label {
    line-height: 40px;
    color: #ffffff;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 64px;
  }
  
  .card .row .form-group input:focus,
  .card .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
  }
  
  .card .row input[type="submit"] {
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
  }
  
  .card .row input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    transition: all 0.4s;
  }
  
  @media screen and (max-width: 900px) {
    .card .row {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
    
    .card {
      padding: 40px;
    }
    
    .card h2 {
      font-size: 34px;
    }
    
    .card .row input[type="submit"] {
      width: 100%;
    }
  } */